<ul class="show_celcius hidden">
  <li>zip: <%= @weather.zip %></li>
  <li>c_high: <%= @weather.c_high %></li>
  <li>c_low: <%= @weather.c_low %></li>
  <li>c_current: <%= @weather.c_current %></li>
  <li>c_average: <%= @weather.c_average %></li>
</ul>