
<ul class="show_fahrenheit show">
  <li>zip: <%= @weather.zip %></li>
  <li>f_high: <%= @weather.f_high %></li>
  <li>f_low: <%= @weather.f_low %></li>
  <li>f_current: <%= @weather.f_current %></li>
  <li>f_average: <%= @weather.f_average %></li>
</ul>