
<ul class="show_fahrenheit show current_selection">
  <li>zip: <%= @weather.zip %></li>
  <li>f_high: <%= @weather.f_high %></li>
  <li>f_low: <%= @weather.f_low %></li>
  <li>f_current: <%= @weather.f_current %></li>
  <li>f_average: <%= @weather.f_average %></li>
</ul>
<ul class="show_celcius hidden current_selection">
  <li>zip: <%= @weather.zip %></li>
  <li>c_high: <%= @weather.c_high %></li>
  <li>c_low: <%= @weather.c_low %></li>
  <li>c_current: <%= @weather.c_current %></li>
  <li>c_average: <%= @weather.c_average %></li>
</ul>