<div id="app_container">

  <h1 id="i_title">Weather Buddy</h1>

  <div id="zip_form_container">
    <%= form_tag 'weathers/create', remote: true do %>
      <%= text_field_tag :zip, "", placeholder: "Zip Code", id: "zip_input" %>
      <br>
      <%= submit_tag "Get Weather", class: "i_button" %>
    <% end %>
  </div>

  <div id="weather_container">
    <div id="sidebar_container">

      <div id="toggle_container">
        <div class="show_fahrenheit show">
          <%= form_tag 'weathers/toggle_to_c', remote: true do %>
            <%= submit_tag "Toggle to Celcius", class: "i_button" %>
          <% end %>
        </div>
        <div class="show_celcius hidden">
          <%= form_tag 'weathers/toggle_to_f', remote: true do %>
            <%= submit_tag "Toggle to Fahrenheit", class: "i_button" %>
          <% end %>
        </div>
      </div>
    
      <div id="previous_searches_container">
        <h3 id="previous_searches_title">Previous Searches</h3>
        <% @weathers.each do |weather| %>
          <%= render :partial => "previous_searches", locals: {weather: weather} %>
        <% end %>
      </div>

    </div>

    <div id="current_weather_container"></div>
    
  </div>

</div> 