<div id="app_container">
  <div id="title_container">
    <h1 id="index_title">Weather Buddy</h1>
    <%= form_tag 'weathers/create', remote: true do %>
      <%= text_field_tag :zip, "", placeholder: "Zip Code" %>
      <br>
      <%= submit_tag "Get Weather"%>
    <% end %>
    <span class="show_fahrenheit show">
      <%= form_tag 'weathers/toggle_to_c', remote: true do %>
        <%= submit_tag "Toggle to Celcius"%>
      <% end %>
    </span>
    <span class="show_celcius hidden">
      <%= form_tag 'weathers/toggle_to_f', remote: true do %>
        <%= submit_tag "Toggle to Fahrenheit"%>
      <% end %>
    </span>
  </div>

  <div id="weather_container">
    <div id="previous_searches_container">
      <% @weathers.each do |weather| %>
        <%= render :partial => "previous_searches", locals: {weather: weather} %>
      <% end %>
    </div>
    <div id="current_weather_container"></div>
  </div>

</div> 