<div class="show_fahrenheit show current_selection">
  <p>zip: <%= @weather.zip %></p>
  <p>f_high: <%= @weather.f_high %></p>
  <p>f_low: <%= @weather.f_low %></p>
  <p>f_current: <%= @weather.f_current %></p>
  <p>f_average: <%= @weather.f_average %></p>
</div>
<div class="show_celcius hidden current_selection">
  <p>zip: <%= @weather.zip %></p>
  <p>c_high: <%= @weather.c_high %></p>
  <p>c_low: <%= @weather.c_low %></p>
  <p>c_current: <%= @weather.c_current %></p>
  <p>c_average: <%= @weather.c_average %></p>
</div>